<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Church app</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/uikit.css" rel="stylesheet">
        <link href="/css/main.css" rel="stylesheet">
    </head>
    <body>
    <div class="fh5co-loader"></div>
<div  class="uk-position-relative" uk-slideshow="autoplay: true; animation:fade; velocity:0.1"  >
    <ul class="uk-slideshow-items">
        <li>
        <img src="/pictures/hero.jpg" alt="" uk-cover>
        </li>
        <li>
        <img src="/pictures/girlincar.jpg" alt="" uk-cover>
        </li>
        <li>
        <img src="/pictures/cupcakes-690040.jpg" alt="" uk-cover>
        </li>
    </ul>
<div class="uk-position-center">
<a class="btn btn-primary btn-lg bn " href="#">Your Welcome</a>
</div>

<div  class="uk-position-top" >

<nav class="uk-navbar-container uk-navbar-light uk-box-shadow-medium"  uk-sticky="" uk-navbar >  
   
<div class="uk-navbar-left">
    <a href="/" class="uk-navbar-item uk-logo   "  >Church</a>
  <ul class="uk-navbar-nav">

    <li class="uk-parent  uk-hidden@lg "><a class="navund" href="/announcement">Annoucements</a></li>
    <li class="uk-parent  uk-hidden@lg "><a class="navund " href="/sermon">Sermon</a></li>
    </ul>
</div>
</nav>
</div>
</div>

   
    
